* {
    margin: 0;
    padding: 0;
}

:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #dadaf9;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--title-color);
    font-family: "Ubuntu", sans-serif;
}