{% extends "layout.html" %}

<!--Identação do Nunjunks-->
{% set pageId = "page-home" %}

<!--Identação do Nunjunks-->
{% block styles %}
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/modal.css"> {% endblock styles %}

<!--Identação do Nunjunks-->
{% block content %}
<div class="content">
    <header>
        <img src="/img/logo.svg" alt="Logomarca Ecoleta">
        <a href="/create-point">
            <span></span> Cadastre um ponto de coleta
        </a>
    </header>
    <main>
        <h1>Seu marketplace de coleta de residuos</h1>
        <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
        <a href="#">
            <span></span><strong>Pesquisar ponto de coleta</strong>
        </a>

    </main>
</div>
{% endblock content %}


<!--Identação do Nunjunks-->
{% block modal %} {% include "partials/modal.html" %} {% endblock modal %}

<!--Identação do Nunjunks-->
{% block scripts %}
<script src="/js/index.js"></script>
{% endblock scripts %}